@charset "UTF-8";
/*---------------------------------------------------------------------
  Stylesheet - create date 2019/01/30
  [app.css]
-----------------------------------------------------------------------*/ 

body {
  font-family: "メイリオ","Hiragino Kaku Gothic Pro",Meiryo,"ヒラギノ角ゴ Pro W3","MS PGothic","MS UI Gothic",Helvetica,Arial,sans-serif;
}

table,tr,th,td {
	border-collapse: collapse;
}

#wrap {
	width: 80%;
	margin: auto;
	text-align: center;
	border: 1px solid #cccccc;
	padding: 12px;
	box-shadow: 4px 4px 15px 1px #000000;
}

h1 {
	font-weight: normal;
	font-size: 20px;
	color: #2fb4d0;
}

h2 {
	font-weight: bold;
	font-size: 16px;
	text-align: left;
}

p {
	font-size: 14px;	
}

.prefixTable table,tr,th,td {
	padding: 4px;
	border: 1px solid #ccc;
}

.prefixTable th {
	width: 120px;
}

.prefixTable td {
	text-align: left;
	text-indent: 1em;
}